# /etc/crontab: system-wide crontab
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# m  h   D M W  user command
# NTP:
1 */6 * * * root /etc/ssvconfig/init.d/time.sh settime
# AWS:
#{% ?SSV_OPENVPN_CLIENT_AWS%on%%#%#% %}*/10 * * * * root /etc/ssvconfig/bin/aws-refresh
# VPN auto connect
#1 9 * * * root /etc/ssvconfig/bin/openvpn_auto.sh
#1 15 * * * root /etc/ssvconfig/bin/openvpn_auto.sh
