#####
# SSV default network settings
#
WUI_chk_eth0='on'
WUI_chk_eth0_mode='dhcp'
WUI_eth0_ip='192.168.0.126'
WUI_eth0_nm='255.255.255.0'
WUI_chk_eth00='off'
WUI_eth00_ip=''
WUI_eth00_nm=''
WUI_chk_eth01='off'
WUI_eth01_ip=''
WUI_eth01_nm=''
WUI_chk_eth1='off'
WUI_chk_eth1_mode='static'
WUI_eth1_ip=''
WUI_eth1_nm=''
WUI_chk_dns='off'
WUI_dns1_ip=''
WUI_dns2_ip=''
WUI_dns3_ip=''
WUI_chk_dgw='off'
WUI_dgw_ip=''
